# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec
*.egg

# Virtual environment
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# PyInstaller
*.manifest

# App data
*.wav
*.tmp

# Environment
.env
